# **Experiment 2**

In [ ]:
# Program 1: Creating DataFrame using Dictionary
import pandas as pd
data = {'apples':[3,0,1,2],'oranges':[3,0,1,2]}
df = pd.DataFrame(data)
print(df)

   apples  oranges
0       3        3
1       0        0
2       1        1
3       2        2

In [ ]:
# Program 2: Creating DataFrame with Custom Index
df = pd.DataFrame(data, index=["a","b","c","d"])
print(df)

   apples  oranges
a       3        3
b       0        0
c       1        1
d       2        2

In [ ]:
# Program 3: Creating DataFrame using from_dict()
data = {'col_1':[3,2,1,0],'col_2':['a','b','c','d']}
df = pd.DataFrame.from_dict(data)
print(df)

   col_1 col_2
0      3     a
1      2     b
2      1     c
3      0     d

In [ ]:
# Program 4: Creating DataFrame using orient='index'
data = {'row_1':[3,2,1,0],'row_2':['a','b','c','d']}
df = pd.DataFrame.from_dict(data, orient='index')
print(df)

       0  1  2  3
row_1  3  2  1  0
row_2  a  b  c  d

In [ ]:
# Program 5: DataFrame using orient='index' with Column Names
df = pd.DataFrame.from_dict(data, orient='index', columns=["A","B","C","D"])
print(df)

       A  B  C  D
row_1  3  2  1  0
row_2  a  b  c  d

In [ ]:
# Program 6: Creating and Displaying DataFrame without using CSV file
import pandas as pd
data = {'Name':['A','B','C'],'Marks':[80,75,90]}
df = pd.DataFrame(data)
print(df.to_string())

  Name  Marks
0    A     80
1    B     75
2    C     90

In [ ]:
# Program 7: Removing Missing Values using dropna()
df = df.dropna()
print(df.to_string())

  Name  Marks
0    A     80
1    B     75
2    C     90

In [ ]:
# Program 8: Creating DataFrame (Cars Dataset)
data = {'cars':["BMW","Volvo","Ford"],'passings':[3,7,2]}
df = pd.DataFrame(data)
print(df)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [ ]:
# Program 9: Creating Series from List
import pandas as pd
a = [1,7,2]
myvar = pd.Series(a)
print(myvar)

0    1
1    7
2    2
dtype: int64

In [ ]:
# Program 10: Creating Series with Custom Index
myvar = pd.Series(a, index=["x","y","z"])
print(myvar)
print(myvar["y"])

x    1
y    7
z    2
dtype: int64
7

In [ ]:
# Program 11: Creating Series from Dictionary
calories = {"day1":420,"day2":456,"day3":453}
myvar = pd.Series(calories)
print(myvar)

day1    420
day2    456
day3    453
dtype: int64

In [ ]:
# Program 12: Creating DataFrame (Calories and Duration)
data = {"calories":[420,380,390],"duration":[50,40,45]}
df = pd.DataFrame(data)
print(df)

   calories  duration
0       420        50
1       380        40
2       390        45